* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.c-page-wrapper {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    flex: 1;
    padding: 0 5rem;
  }
}
