@mixin flexDisplay($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin footerTitle() {
  font-weight: $fontBold;
  font-size: $textBase;
  line-height: $lineHeightBase;
  color: $whiteColor;
  opacity: 0.5;
}

@mixin notificationBar($backgroundColor, $color) {
  @include flexDisplay(column, flex-start);
  padding: 1.2rem 12rem;
  gap: 10px;
  height: 59px;
  background: $backgroundColor;

  p {
    font-family: $latoFont;
    font-weight: $fontBold;
    font-size: $textBase;
    line-height: 19px;
    color: $color;
  }
}
