//colors
$darkBlackColor: #000000;
$blackColor: #252525;
$greyColor: #9b9b9b;
$whiteColor: #ffffff;
$purpleColor: #8367d8;
$smokeWhiteColor: #d8d8d8;
$lightGreyColor: #fcfcfc;
$borderWhiteColor: #e3e3e3;
$borderGreyColor: #d8d8d8;
$errorColor: #f44336;
$bidColor: #0066CC;
$greenColor: #417505;

//fonts and text
$latoFont: 'Lato', sans-serif;
$textBase: 16px;
$lineHeightBase: 24px;
$lineHeight5xl: 51px;
$letterSpacing: 0.84px;
$fontNormal: 400;
$fontBold: 700;
